.menudiv {
  height: 70px;
  width: 100%;
  background-color:white;
  color:rgb(14, 78, 0);
  font-size:16px;
}

.iconlink {
  position:relative;
  display:inline-block;
  flex-direction:row;
  padding:20px;
}
.iconlink:hover {
  color:rgb(127, 127, 127);
  cursor:pointer;
}

.fa {
  font-size: 25px;
}
.fab {
  font-size: 25px;
}
.fas {
  font-size: 25px;
}
